// This block uses the DSL keyword "sortable" and expects a local variable "reflections"
| stimulus:
|   sortable: ul {'Garden Path': reflections}
|     li editable_text: :name
p Current reflection binding: #{reflections} 